.main {
    composes: container from '../App.css';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.table th{
    border: solid 1px rgb(207, 165, 67);
    padding: 1em;
    min-width: 100px;
}

.productImg {
    max-width: 200px;
}

.email {
    font-family: inherit;
    font-size: inherit;
    padding: .75em 1.5em;
    margin: 1em 0;
}