.header {
    position: relative;
}

.header::after
{
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(91deg,#b58c42 0%,#eee7a9 20%,#a8812a 38%,#a8812a 53%,#eee7a9 80%,#c5ac60 100%);;
}

.img {
    width: 100%;
}

